body{
    background: #808080;
}

.form{
    background: #fff;
    width: 300px;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

.form input{
    width: 100%;
    padding: 4%;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    margin: 10px 0;
}

.form button{
    background: #000;
    width: 100%;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
}