body {
    background-color: burlywood;
    margin: 10px auto;
    width: 750px;
}

header {
    height: 120px;
    background-color: wheat;
}

.topnav {
    overflow: hidden;
    background-color: saddlebrown;
}

.topnav a {
    float: left;
    display: block;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: wheat;
    color: saddlebrown;
}

.content {
    height: 450px;
    background-color: wheat;
}

footer {
    clear: both;
    height: 20px;
    background-color: saddlebrown;
}